html,
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(9, 2, 66);
}
canvas{
    touch-action: none;
}

#info{
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 1;
	display:block;
}